Main/Backup/GameDocs/Resources/QuestsSchema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema id="XSDSchemaTest" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

<!-- definition of simple elements -->
<xs:element name="Name" type="xs:string"/>
<xs:element name="File" type="xs:string"/>

<xs:element name="League">
 <xs:complexType>
  <xs:sequence>
   <xs:element ref="Name"/>
   <xs:element ref="File"/>
  </xs:sequence>
 </xs:complexType>
</xs:element>

<xs:element name="SokobanQuest">
 <xs:complexType>
  <xs:sequence>
   <xs:element ref="League" minOccurs="1" maxOccurs="unbounded" />
  </xs:sequence>
 </xs:complexType>
</xs:element>

</xs:schema>